
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top:10px;
    position: relative;
    width: fit-content;
    outline: 2px solid black;
    padding: 10px 10px;
    border-radius:10px ;
    background-color: black;
    box-shadow: 0px 0px 20px aqua;
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: fit-content;
    position: relative;
}

.history-btn{
    font-size: 16px;
    width: fit-content;
    margin-top:5px ;
    margin-left: 5px;
    position: absolute;
    top: 10px;
    z-index: 10;
    padding: 2px;
    border-radius: 5px;
    color: white;
    background-color: #2979FF;
    border: 2px solid black;  
}
.box{  
    width: 332px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: azure;
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
   font-family: 'Roboto',sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(5,80px);
    gap: 5px;
}
.btn{
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(49, 49, 49);
    color: white;
    box-shadow: inset 2px 2px 10px rgb(165, 165, 165);
}
.btn:hover{
    cursor: pointer;
}
.equal{
    background-color: #2979FF;
}

.history{
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: 332px;
    height: 0px;
    border: 2px solid black;
    border-radius: 5px;   
    overflow: auto;
    word-wrap: break-word;

    position: absolute;
    bottom: 0px;
    opacity: 0;

    transition: height 1s ease-in-out, opacity 0.5s ease-in-out;
}
.history-nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin: 5px 5px;
    position: sticky;
    top:5px ;
}
.reset{
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    background-color: yellow;
}
.unorderedlist{
    list-style: none;
    font-size: 22px;
    display: flex;
    overflow:auto;
    flex-direction: column;
    align-self: flex-end;
    margin: 5px 5px;
}

.list-item{
    align-self: flex-end;
} 

.history.show {
    height: 200px; 
    opacity: 1;
    pointer-events: auto;
}
.calculator.dim {
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
}

.btn-delete{
    padding: 2px 4px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
}

.btn-delete:hover{
    cursor: pointer;
}
.hover:hover{
    cursor: pointer;
}

/* Its already responsive(I have set the CSS that way) 
so It will be okay if we donot use mediaqueries more */

@media only screen and (max-width:500px){
    .box{
        width: 292px;
        height: 180px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(4,70px);
        grid-template-rows: repeat(5,70px);
    }
    .history{
        width: 292px;
    }
    .history.show
    {
        height: 180px;
    }
}